<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>成績表一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>テスト実施日</th>
            <th>スコア</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
          <tr>
            <td><%= link_to result.created_at.strftime("%Y/%m/%d %H:%M"), result_path(result.id) %></td>
            <td>
              <% score = 0 %>
              <% question_cnt = 0 %>
              <% result.result_words.each do |result_word| %>
              <% question_cnt = question_cnt + 1 %>
              <% if result_word.word.text_en == result_word.chose_text %>
              <% score = score + 1 %>
              <% end %>
              <% end %>
              <%= "#{score} / #{question_cnt}" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>