<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h2 class="title">マイページの編集</h2>
      <%= form_with model: current_user, local: true do |f| %>
      <%= f.label :name, "ユーザ名" %>
      <%= f.text_field :name %>
      <%= f.submit "更新", class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>