<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>単語一覧</h2>
			<div class="words">
				<% @words.each do |word| %>
				<div class="word">
					<div class="word__image">
						<%= attachment_image_tag word, :image, format: 'jpeg', size: "100x100" %>
					</div>
					<p><%= word.word_jp %></p>
					<p><%= word.word %></p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>