<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>'<%= @text %>'の検索結果</h2>
			<%= link_to "お気に入り単語を見る", favorites_path %>

			<%= render 'users/words/index', words: @words %>

		</div>
	</div>
</div>