<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <h2>単語編集</h2>
      <%= render 'form', word: @word, genres: @genres, submit: '更新' %>
    </div>
  </div>
</div>