<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>英単語であ・そ・ぼ</h1>
				<p>
					<strong>英単語であ・そ・ぼ</strong>へようこそ！！</br>
					はじめてあそぶ人たちは、「はじめて」をおしてね！</br>
					あそんだことのある人たちは、「あそびにいく」をおしてね！
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-5">
				<%= link_to 'はじめて', new_user_registration_path, class: "btn btn-primary btn-block" %>
				<%= link_to 'あそびにいく', new_user_session_path, class: "btn btn-success btn-block" %>
			</div>
		</div>
	</div>
</div>