// Place all the styles related to the users::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
	background-image: url('bock-image-photo_ac.jpg');
	background-size: cover;
	width: 100%;
	height: 86vh;
}