// Place all the styles related to the users::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg {
	background-image: image-url("bg-m.jpg");
	background-size: cover;
	width: 100%;
	height: 87vh;
}

.top-wrapper {
	padding-top: 150px;
}