// Place all the styles related to the users::words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.words {
	display: flex;
	flex-wrap: wrap;
}

.word {
	width: 20%;
	text-align: center;
	margin-bottom: 10px;
	&__image > img {
		width: 50%;
	}
}

.change {
  color: white;
}